ul{
    list-style: none;
    margin: 2em 0 0 0;
    padding: 0 0 2em 0;
    overflow: scroll !important;
    overflow-x: hidden !important;
    height: 30em;
  }
  
  ul li{
    display:inline-block;
    clear: both;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .bot {
    background: #eee;
    float: left;
  }
  
  .me{
    float: right;
    background: #0084ff;
    color: #fff;
  }
  
  .bot + .me{
    border-bottom-right-radius: 5px;
  }
  
  .me + .me{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .me:last-of-type {
    border-bottom-right-radius: 30px;
  }
  