{% extends "base.html" %}
{% block title %}Menu Categories{% endblock %}

{% block content %}
{% if form %}
{% load cssfilters %}
<p class="mt-5">
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseForm" role="button" aria-expanded="false" aria-controls="collapseForm">
        New Category
    </a>
</p>
<div class="collapse" id="collapseForm">
    <div class="card card-body">
        <form action="{% url 'menu-category-add' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.name.label_tag }}                
                {{ form.name|addclass:'form-control' }}
            </div>
            <button class="btn btn-primary" type="submit">Add Category</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>
<table class="table table-striped">
{% else %}
<table class="mt-5 table table-striped">
{% endif %}
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
{% for category in menu_category_list %}
        <tr>
            </a><th scope="row">{{category.id}}</th>
            <td>{{category.name}}<a class="float-right btn btn-outline-info ml-auto" href="{% url 'menu-category' category.id %}">Edit</a><a class="float-right btn btn-outline-primary mr-2" href="{% url 'menu-category-view' category.id %}">View</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>

<div class="pagination">
<span class="step-links">
    {% if menu_category_list.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ menu_category_list.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
        Page {{ menu_category_list.number }} of {{ menu_category_list.paginator.num_pages }}.
    </span>

    {% if menu_category_list.has_next %}
        <a href="?page={{ menu_category_list.next_page_number }}">next</a>
        <a href="?page={{ menu_category_list.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
</span>
</div>

{% endblock %}
